{% extends 'layer1/base_layer1.html' %}
{% load static %}
{% block page_title %}Market Trend{% endblock %}

{% block layer1_content %}
<div class="checks-section" id="summary-view">
    <div id="section-content">
        <div class="check-item">
            <div class="check-main"><div class="check-info"><div class="check-name">로딩 중...</div></div></div>
        </div>
    </div>
</div>

{% include 'layer1/includes/_raw_data_view.html' with back_url='/dx/layer1/market-trend/' %}
{% endblock %}


{% block layer1_js %}
<script src="{% static 'js/dx/dx_layer1/market_trend.js' %}"></script>
{% endblock %}
